/* assets/css/websockettester.css */

/* Basic layout */
body {
	text-align: center;
}
#description {
	margin: 10px 0px;
}
#content {
	margin: 0px auto;
	width: 900px;
	text-align: left;
}


/* widgets */
#serveruri {
	width: 250px;
}
#send {
	float: right;
}
#serveruri {
	margin-right: 10px;
}
#connected {
	margin-bottom: 10px;
	font-size: 1.4em;
}
#input {
	margin-right: 20px;
}

#party {
	background-color: #D9EAD3;
	border-radius: 20px;
	margin: 20px 0;
	padding: 10px;
}

#minions {
	background-color: #C9DAF8;
	border-radius: 20px;
	margin: 20px 0;
	padding: 10px;
}

.player, .minion{
	background: green;
	float: left;
	width: 30%;
	margin: 12px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
}

.minion{
	background: #836d4d;
}
.player img, .minion img{
	float: left;
	height: 64px;
	width: 64px;

}

.selected{
	border: 3px solid black;
}

#warrior button, #mage button, #orc button, #troll button {
	float: right;
	border-radius: 10px;
	margin: 5px;
}


.skills{
	background: black;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	list-style: none;
	float: left;
	color: white;
}

.skills li, .skills span{
	display: inline-block;
	float: left;
	margin: 10px;
	width: 30%;
}

#output{
	height: 150px;
	float: left;
	border-radius: 10px;
	background: #333;
	color: white;
	margin: 20px auto;
	padding: 10px 20px;
	overflow: auto;
}

#outputText{
	display: inline-block;
}

.deadText{
	color: #D64040;
}

.playerText{
	color: #5288E9;
}

.minionText {
	color: #8BBF79;
}

.evadeText{
	color: #E6BA3B;
}